<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Entrar / Registrar</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">

      <mat-tab label="Entrar">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input matInput placeholder="E-mail" required name="email" ngModel #email="ngModel" autocomplete="off">
              <mat-error *ngIf="email.invalid">E-mail é obrigatório.</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" required minlength="6" name="password" ngModel
                #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">
                Senha é obrigatória.
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Senha deve ter no mínimo 6 caractéres.
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Lembrar de mim!</mat-checkbox>
            <button (click)="login()" mat-raised-button color="primary" class="login-button">
              Entrar
            </button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Registrar">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input matInput placeholder="E-mail" required name="email" ngModel #email="ngModel" autocomplete="off">
              <mat-error *ngIf="email.invalid">E-mail é obrigatório.</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" required minlength="6" name="password" ngModel
                #password="ngModel" autocomplete="off">
              <mat-error *ngIf="password.errors && password.errors.required">
                Senha é obrigatória.
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Senha deve ter no mínimo 6 caractéres.
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Confirmar senha" type="password" required minlength="6" name="repassword" ngModel
                #repassword="ngModel" autocomplete="off">
              <mat-error *ngIf="repassword.errors && repassword.errors.required">
                Confirmação de senha é obrigatória.
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Registrar
            </button>
          </form>
        </mat-card-content>
      </mat-tab>

    </mat-tab-group>
  </mat-card>
  <router-outlet></router-outlet>
</div>